<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Everjobs Suite">
 
 <test name="SeleniumSample">
 <classes>
 <class name="com.test.gurubank.BaseTest" /> 
 <class name="com.test.gurubank.GBTest" /> 
 </classes> 
 </test> 
 
</suite> <!-- Suite -->